
<!DOCTYPE html>
<head>
    <title>Items</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        #body {
            padding: 10px;
        }

        #main {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-end;
        }

            #main > div:last-child {
                display: flex;
                flex-direction: column-reverse;
                align-items: stretch;
            }

        input[type=text] {
            width: max-content;
        }

        #addbtn {
            float: right;
            margin: 10px;
        }
    </style>


    <div class="m-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">URU</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="/bills" class="nav-item nav-link">Bills</a>
                        <a href="/bills/bills_filter" class="nav-item nav-link">Bills Filter</a>
                        <a href="/items" class="nav-item nav-link">Stock</a>
                        <a href="/json/customers/" class="nav-item nav-link">Customer_API</a>
                        <a href="/json/items/" class="nav-item nav-link">Items_API</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a href="#" class="nav-item nav-link">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</head>
<body>
    <div id="body">
        <div>
            <center><h1>Items Prices & Stock Management</h1></center>
        </div>
        <br>
        <div id="main">
            <div>
                <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" value="Add Item" id="addbtn">
                <table class="table table-striped table-hover table-bordered border-dark" id="dataTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>S No.</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                            <th>Item GST</th>
                            <th>Item Stock</th>
                            <th>Item Sale</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{item.id}}" name="item_id">
                            <td>{{forloop.counter}}</td>
                            <td><input type="text" value="{{item.iname}}" name="iname"></td>
                            <td><input type="text" value="{{item.iprice}}" name="iprice"></td>
                            <td><input type="text" value="{{item.igst}}" name="igst"></td>
                            <td><input type="text" value="{{item.istock}}" name="istock"></td>
                            <td><input type="text" value="{{item.isale}}" name="isale"></td>
                            <td>
                                <input type="submit" value="Update" class="btn btn-warning">
                                <a href="delete/{{item.id}}">Delete</a>
                            </td>
                            </form>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div>



                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form id="form1" method="post">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add an Item</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div>
                                        <div>
                                            <label>Item Name : </label>
                                            <input type="text" name="new_name">
                                        </div><br>
                                        <div>
                                            <label>Item Price : </label>
                                            <input type="text" name="new_price">
                                        </div><br>
                                        <div>
                                            <label>Item GST : </label>
                                            <input type="text" name="new_gst">
                                        </div><br>
                                        <div>
                                            <label>Item Stock : </label>
                                            <input type="text" name="new_stock">
                                        </div><br>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="reset" class="btn btn-secondary">
                                    <input type="submit" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class="container my-5">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white"
                style="background-color: #3e4551">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">FOOTER CONTENT</h5>

                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Molestiae modi cum ipsam ad, illo possimus laborum ut
                                reiciendis obcaecati. Ducimus, quas. Corrupti, pariatur eaque?
                                Reiciendis assumenda iusto sapiente inventore animi?
                            </p>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Links</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Links</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Links</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                        <!--Grid column-->
                        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Links</h5>

                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#!" class="text-white">Link 1</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="mb-4" />

                <!-- Section: CTA -->
                <section class="">
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">Register for free</span>
                        <button type="button" class="btn btn-outline-light btn-rounded">
                            Sign up!
                        </button>
                    </p>
                </section>
                <!-- Section: CTA -->

                <hr class="mb-4" />

                <!-- Section: Social media -->
                <section class="mb-4 text-center">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1"
                       href="#!"
                       role="button">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1"
                       href="#!"
                       role="button">
                        <i class="fab fa-twitter"></i>
                    </a>

                    <!-- Google -->
                    <a class="btn btn-outline-light btn-floating m-1"
                       href="#!"
                       role="button">
                        <i class="fab fa-google"></i>
                    </a>

                    <!-- Instagram -->
                    <a class="btn btn-outline-light btn-floating m-1"
                       href="#!"
                       role="button">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1"
                       href="#!"
                       role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1"
                       href="#!"
                       role="button">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3"
                 style="background-color: rgba(0, 0, 0, 0.2)">
                © 2020 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">URU</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </div>
    <!-- End of .container -->
</body>
</html>